* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

h1 {
    text-align: center;
    color: black;
    font-size: 3rem;
}

/* start writing your code (Step 2)*/
.box {
    width: auto;
    height: 50vh;
    border-radius: 2rem;
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
    background-color: whitesmoke;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.sec1 {
    height: 35%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instruction {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    font-size: 1.3rem;
    color: black;
    padding-bottom: 1.5rem;
}

#operand1,
#operand2 {
    padding: 1.5rem;
    border: 0.1px black;
    border-radius: 1rem;
    background-color: white;
    color: black;
}

#operator {
    padding: 15px 20px;
    border: 0.1px black;
    border-radius: 1rem;
    color: black;
    font-size: 2.3rem;
}

.sec2 {
    height: 65%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#option1,
#option2,
#option3,
#option4 {
    padding: 1rem, 2rem;
    color: white;
    font-size: 1.3rem;
    /* border-radius: 10px; */
    background: transparent;
    border: none;
    cursor: pointer;
}

#msgbox {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    border-radius: 10px;
}